<div class="form" style="margin-top: 150px;">
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient, value_method: :id, label_method: :name %>

  <%= f.submit %>
<% end %>

<%= link_to "back", cocktail_path(@cocktail) %>
</div>
